body {
    /* background: url("./images/brewBackground.jpg") no-repeat center center fixed;
    background-size: 100%; */
    font-family: 'Open Sans Condensed', sans-serif;
}

.imageDesc{
    height:100px;
    width: auto;
    padding: 20px;
}

.prizeName{
    font-weight: bold
}